html{
    font: 1em arial;
}
.title{
    color: #333;
    font-weight: bold;
}
.image_containers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    min-height:24vw;
}
.box{
    color: whitesmoke;
    border: none;
    background-color: #333;
    flex: 0 0 25%; 
    max-width: 25%;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    align-items: center;
}
.box img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 20px;
  }
#file{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    width: 69%;
    margin-left: 3rem;
}
::file-selector-button{
    border-radius: 5px;
    margin-left: 0.5rem;
    border: none;
    background-color: #333;
    padding: 0.6rem;
    color: whitesmoke;
    font-weight: bold;
    transition: 0.3s;
}
::file-selector-button:hover{
    background-color:#04AA6D;
}
.start_button{
    background-color:  rgba(68, 68, 68, 0.979);
    border-radius: 5px;
    border: none;
    padding:0.6rem;
    color: whitesmoke;
    font-weight: bold;
    transition: 0.3s;
}
#box_title{
    position:absolute;
    top:10px;
    left: 50%;
    transform: translateX(-50%);
}
.start_button:hover{
    background-color: #04AA6D;
}
.reduction_button{
    background-color:  rgba(68, 68, 68, 0.979);
    border-radius: 5px;
    border: none;
    padding:0.6rem;
    color: whitesmoke;
    font-weight: bold;
    transition: 0.3s;
    margin-top: 15px;
}
.reduction_button:hover{
    background-color: #04AA6D;
}
.invert_button{
    background-color:  rgba(68, 68, 68, 0.979);
    border-radius: 5px;
    border: none;
    padding:0.6rem;
    color: whitesmoke;
    font-weight: bold;
    transition: 0.3s;
    display: flex;
    margin-top: 15px;
}
.invert_button:hover{
    background-color: #04AA6D;
}
#helperCanvas{
    position: absolute;
    left: 0;
    bottom: 0;
    visibility: hidden;
}
.slidecontainer{
    display: flex;
    margin-top: 15px;
    align-items: center;
}

#slider_input{
    width:20%;
    padding: 4%;
    margin-left: 5%;
    text-align: center;
    border:none;
    border-radius: 3px;
}
.results{
    display: grid;
    background-color: #333;
    border-radius: 5px;
    color: whitesmoke;
    width: 69%;
    position: relative;
    padding: 10px;
    margin-left: 3rem;
}
.res{
    padding: 2px;
}
.fft{
    padding: 2px;
}
.ifft{
    padding: 2px;
}
.res::before{
    content: "Rezolucija slike: ";
}
.fft::before{
   content: "Trajanje FFT: ";
}
.fft::after{
    content: " ms";
}
.ifft::before{
    content: "Trajanje IFFT: ";
}
.ifft::after{
    content: " ms";
}
.options_container{
    display: flex;
    flex-wrap: wrap;
}
.options{
    border: none;
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    border: none;
    position: relative;
    box-sizing: border-box;
    align-items: center;
}
#options0{
    padding: 20px;
}
#options1{
    background-color: #333;
    border-radius: 5px;
    margin-top: 10px;
    color:whitesmoke;
    padding: 20px;
    height:min-content;
    max-width: 20%;
    margin-right: 5%;
}
#options2{
    background-color: #333;
    border-radius: 5px;
    margin-top: 10px;
    color:whitesmoke;
    padding: 20px;
    max-width: 20%;
    margin-right: 5%;
}
#options3{
    background-color: #333;
    border-radius: 5px;
    margin-top: 10px;
    color:whitesmoke;
    padding: 20px;
    height: min-content;
    max-width: 20%;
}
.results_type{
    padding-top: 15px;
    display: flex;
}
.filter_shape{
    padding-top: 15px;
    display: flex;
}
.reduction_shape_label{
    padding-right: 5px;
}
.select_container{
    margin-top: 15px;
    margin-left: 2px;
}
#filter{
    border: none;
    border-radius: 5px;
    padding: 1%;
    margin-left: 10px;
}#buttton_container{
    padding-top: 20px;
}
.radioContainer{
    background-color:#333;
    border-radius: 5px;
    padding: 0.6rem;
    color: whitesmoke;
    width: 69%;
    margin-left: 3rem;
}
.title{
    margin-left: 0.5rem;
}