html{
    font: 1em arial;
}
.title{
    color: #333;
    font-weight: bold;
}
.image_containers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    min-height:540px;
}
.box{
    color: whitesmoke;
    border: none;
    background-color: #333;
    flex: 0 0 25%; /* Each div takes up 25% of the container width */
    max-width: 25%;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    align-items: center;
}
.box img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 20px;
  }
#file{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.6rem;
    margin: 3rem;
    border-radius: 5px;
}
::file-selector-button{
    border-radius: 5px;
    margin-left: 0.5rem;
    border: none;
    background-color: #333;
    padding: 0.6rem;
    color: whitesmoke;
    font-weight: bold;
    transition: 0.3s;
}
::file-selector-button:hover{
    background-color:#04AA6D;
}
.start_button{
    background-color:  rgba(68, 68, 68, 0.979);
    border-radius: 5px;
    border: none;
    padding:0.6rem;
    color: whitesmoke;
    font-weight: bold;
    transition: 0.3s;
    position:absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
#box_title{
    position:absolute;
    top:10px;
    left: 50%;
    transform: translateX(-50%);
}
.start_button:hover{
    background-color: #04AA6D;
}
.reduction_button{
    background-color:  rgba(68, 68, 68, 0.979);
    border-radius: 5px;
    border: none;
    padding:0.6rem;
    color: whitesmoke;
    font-weight: bold;
    transition: 0.3s;
    margin: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.reduction_button:hover{
    background-color: #04AA6D;
}
.invert_button{
    background-color:  rgba(68, 68, 68, 0.979);
    border-radius: 5px;
    border: none;
    padding:0.6rem;
    color: whitesmoke;
    font-weight: bold;
    transition: 0.3s;
    position:absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.invert_button:hover{
    background-color: #04AA6D;
}
#helperCanvas{
    position: absolute;
    left: 0;
    bottom: 0;
    visibility: hidden;
}
.slidecontainer{
    display: flex;
    margin-top: 15px;
}
.slider{
    margin-top: 7px;
}
.slider_value{
    margin-left: 5px;
    margin-top: 8px;
}
.slider_value::after{
    content: "%";
}
.reduction_label{
    margin-top: 8px;
    margin-right: 4%;
}
.results{
    display: grid;
    background-color: #333;
    border-radius: 5px;
    color: whitesmoke;
    width: 54%;
    position: relative;
    padding: 10px;
    margin: 3rem;
}
.res{
    padding: 2px;
}
.fft{
    padding: 2px;
}
.ifft{
    padding: 2px;
}
.res::before{
    content: "Image resolution: ";
}
.fft::before{
   content: "FFT time: ";
}
.fft::after{
    content: " ms";
}
.ifft::before{
    content: "Inverse FFT time: ";
}
.ifft::after{
    content: " ms";
}
.options_container{
    display: flex;
    flex-wrap: wrap;
}
.options{
    border: none;
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
}
#options1{
    background-color: #333;
    border-radius: 5px;
    margin-top: 10px;
    color:whitesmoke;
    padding: 20px;
    max-width: 23%;
}
.results_type{
    padding-top: 15px;
    display: flex;
}
.filter_shape{
    padding-top: 15px;
    display: flex;
}
.select_container{
    margin-top: 15px;
}
#filter{
    border: none;
    border-radius: 5px;
    padding: 1%;
    margin-left: 10px;
}
#filter option{
    border-radius: 5px;
}